html {
  font-size: 62.5%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

.conteners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100rem;
  border: 2px solid yellowgreen;
}

.element {
  border: 2px solid red;
  width: 5%;
  background-color: #ccc;
  height: 20rem;
}

.active {
  background-color: black;
  display: block;
  padding: 1rem;
}

input[type="radio"] {
  padding: 1rem;
  background-color: green;
  font-size: 1rem;
}

html {
  font-size: 62.5%;
}

.conteners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100rem;
  border: 2px solid yellowgreen;
}

.element {
  border: 2px solid red;
  width: 5%;
  background-color: #ccc;
  height: 20rem;
}

.active {
  background-color: black;
  display: block;
  padding: 1rem;
}

input[type="radio"] {
  padding: 1rem;
  background-color: green;
  font-size: 1rem;
}
